<a href="https://colab.research.google.com/github/danilonozima/projeto-pandas/blob/main/Proj_1_pandas_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto Técnicas de programação I

## Análise exploratória de dados/Pandas

Nomes:

Turma:

Nesse projeto trabalharemos com dados fictícios de investidores.

São 3 arquivos que devem ser carregados para responder as perguntas abaixo.

Para a entrega, coloque o notebook respondido no seu github (um por grupo)!

Informações

Cadastro:
- **id** : Identificação do investidor
- **Nome** : Nome completo do investidor 
- **Sexo** : Feminino ou masculino
- **Nasc** : Data de nascimento
- **Idade** : Idade do investidor 
- **Email** : E-mail do investidor
- **Lat_long** : Dados geográficos do investidor
- **Job** : Profisão do investidor ou do seu responsável (em inglês)
- **Estado** : Estado onde o investidor reside

Investimento:
- **id** : Identificação do investidor
- **Salario** : Renda do investidor ou seu responsável
- **Perfil** : Perfil de investimento
- **Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07** : O quanto de dinheiro o investidor colocou em cada ativo
- **Nota1, Nota2** : O quanto o investidor está satisfeito com nossa empresa (2 avaliações)

Lembrando que esses dados são irreais e fictícios

Arquivo cadastro.csv


Arquivo investimento.csv (dividido em 2 partes)

### Critérios de avaliação

Os seguintes itens serão avaliados:

1. Reprodutibilidade do código: seu código será executado e precisa gerar os mesmos resultados apresentados por você;

2. Clareza: seu código precisa ser claro e deve existir uma linha de raciocínio direta. Comente o código em pontos que julgar necessário para o entendimento total;

3. Explicação de todos os processos feitos e decisões tomadas

## Informações Gerais sobre o Projeto

- O projeto poderá ser desenvolvido __individualmente__ ou em __grupos com até 4 pessoas__, caos façam em grupos enviar a relação de alunos do grupo para o professor;


- Data de Entrega: 14/04/2023;

- Entrega: Através do _Class_

## 1 - Carregar os arquivos e cadastro, investimento1 e investimento2 e mostrar a quantidade de linhas de cada um, além das informações desses dataframes

In [4]:
import pandas as pd
import datetime as dt

cadastro = pd.read_csv('cadastro.csv')
print(f'Linhas cadastro.csv: {cadastro.shape[0]}')

invest1 = pd.read_csv('investimento_parte1.csv')
print(f'Linhas investimento_parte1.csv: {invest1.shape[0]}')

invest2 = pd.read_csv('investimento_parte2.csv')
print(f'Linhas investimento_parte2.csv: {invest2.shape[0]}')

Linhas cadastro.csv: 38754
Linhas investimento_parte1.csv: 20000
Linhas investimento_parte2.csv: 24052

## 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [6]:
invest = pd.concat([invest1, invest2], ignore_index=1)
print(f'Linhas invest: {invest.shape[0]}')

Linhas invest: 44052

## 3 - Crie um novo dataframe eliminando as linhas duplicadas

In [7]:
invest_nodup = invest.drop_duplicates(keep=False)
print(f'Linhas invest_nodup: {invest_nodup.shape[0]}')

Linhas invest_nodup: 33456

## 4 - Junte o dataframe de investimento com o de cadastro
Dica: use a chave id

In [139]:
df = pd.merge(cadastro, invest_nodup, how='left', on='id')
df.head()

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292

In [140]:
df[df['Salario'].isnull()]

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
7,id0000008,Roger da Silva,Masc,2012-12-04,9,idavis@hotmail.com,"(Decimal('26.852207'), Decimal('154.834424'))",Garment/textile technologist,RS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,id0000011,Susan Espada,Fem,1998-08-10,23,louis80@hotmail.com,"(Decimal('36.023380'), Decimal('-7.012638'))","Producer, radio",RR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,id0000016,Sílvio Baltazar da Costa dos Santos,Masc,1989-07-01,32,carterashley@yahoo.com,"(Decimal('-45.978957'), Decimal('-21.700752'))",Curator,MG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,id0000022,Ana Isabel Eomelov da Silva de Miranda,Fem,1986-06-19,35,mmason@hotmail.com,"(Decimal('8.857391'), Decimal('168.689030'))",Restaurant manager,PI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,id0000023,André Imilgate,Masc,1983-12-31,38,mmorris@hotmail.com,"(Decimal('-46.4906675'), Decimal('-148.942110'))",Animal nutritionist,GO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38719,id0038720,Beatriz Hesawa de Bezerra,Fem,1986-09-17,35,bsaunders@gmail.com,"(Decimal('-17.3111315'), Decimal('-148.280401'))",Museum/gallery exhibitions officer,RJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38725,id0038726,Jussara Paulínia de Cerqueira Crecalnimão,Fem,2018-06-02,3,mccormickkatherine@hotmail.com,"(Decimal('-24.946397'), Decimal('179.619710'))",Ceramics designer,PR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38744,id0038745,Samuel de Pacheco Jardim,Masc,2001-10-02,20,igarcia@gmail.com,"(Decimal('-58.231959'), Decimal('77.052229'))",Hospital doctor,CE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38745,id0038746,Paula de Lemes,Fem,1992-08-06,29,reynoldsjennifer@gmail.com,"(Decimal('-62.8648515'), Decimal('-177.577584'))",Trade union research officer,RJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [141]:
df = df.sort_values(by=['id'], ascending = True)
df = df.set_index('id')
df.head()

,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
id,,,,,,,,,,,,,,,,,,,
id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292

## 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

In [142]:
df.isna().sum()

Nome            0
Sexo            0
Nasc            0
Idade           0
Email           0
Lat_long        0
Job             0
Estado          0
Salario      5298
Perfil       5298
Ativo01     13700
Ativo02     10548
Ativo03     10593
Ativo04     15504
Ativo05     10668
Ativo06     22101
Ativo07      5298
Nota1        7887
Nota2        7010
dtype: int64

In [143]:
# para os Ativos: substituir NaN por zero, para representar que eles possuim zero alocados naquele ativo
df['Ativo01'].fillna(0, inplace=True)
df['Ativo02'].fillna(0, inplace=True)
df['Ativo03'].fillna(0, inplace=True)
df['Ativo04'].fillna(0, inplace=True)
df['Ativo05'].fillna(0, inplace=True)
df['Ativo06'].fillna(0, inplace=True)
df['Ativo07'].fillna(0, inplace=True)
#para as Notas,também substituir por zero, assumindo que eles não fizeram a prova e receberam zero
df['Nota1'].fillna(0, inplace=True)
df['Nota2'].fillna(0, inplace=True)

df.isna().sum()

Nome           0
Sexo           0
Nasc           0
Idade          0
Email          0
Lat_long       0
Job            0
Estado         0
Salario     5298
Perfil      5298
Ativo01        0
Ativo02        0
Ativo03        0
Ativo04        0
Ativo05        0
Ativo06        0
Ativo07        0
Nota1          0
Nota2          0
dtype: int64

## 7 - Manipule os dados a seguir:
- Criar coluna "Total" somando o valor de todos os ativos por investidor
- Criar coluna "Media" com a média das notas 1 e 2
- Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
- Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
- Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
- Transformar os dados da coluna Media em inteiro
- Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

In [144]:
df['Total'] = df['Ativo01'] + df['Ativo02'] + df['Ativo03'] + df['Ativo04'] + df['Ativo05'] + df['Ativo06']
df['Media'] = df[['Nota1', 'Nota2']].mean(axis=1)
df['Dominio'] = df['Email'].apply(lambda x: pd.Series(str(x).split('@'))[1:])
df.rename(columns={'Salario':'Renda'}, inplace=True)
df['Renda'] = df['Renda'].str.replace('$', '').astype(float)
sexo_dict = {'Fem': 'Feminino', 'Masc': 'Masculino'}
df['Sexo'] = df['Sexo'].map(sexo_dict)
df['Media'] = df['Media'].astype(int)
df['NPS'] = np.where(df['Media'] >= 80, 'Promotor', np.where(df['Media']>= 50, 'Neutro', 'Detrator'))
df.head()

<ipython-input-144-35e630360ae2>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Renda'] = df['Renda'].str.replace('$', '').astype(float)

,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,...,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
id,,,,,,,,,,,,,,,,,,,,,
id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,...,0.00,4480.91,2329.72,480.72,79.600372,9.802620,15604.12,44,yahoo.com,Detrator
id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,Moderado,...,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18118.48,67,yahoo.com,Neutro
id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,Agressivo,...,0.00,5033.83,2229.45,523.12,44.020024,65.060941,16995.25,54,yahoo.com,Neutro
id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,...,0.00,5933.91,0.00,486.05,25.597924,86.548918,14915.70,56,hotmail.com,Neutro
id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,...,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50468.23,24,yahoo.com,Detrator

## 8 - Calcule os seguintes dados
- Calcule o total investido em cada coluna Ativo (tente usar o apply)
- Qual o menor valor investido em cada ativo?
- Mostre a média e desvio padrão de cada ativo
- Qual a idade do investidor mais velho?
- Qual a mediana da coluna Média?

In [145]:
import numpy as np

# # Calcule o total investido em cada coluna Ativo (tente usar o apply)
a = df[['Ativo01','Ativo02','Ativo03','Ativo04','Ativo05','Ativo06','Ativo07']].apply(np.sum, axis=0)
for i, soma in enumerate(a):
  print(f'{a.index[i]} - Soma: {soma:.2f}')
print('-'*64)

# Qual o menor valor investido em cada ativo?
a = df[['Ativo01','Ativo02','Ativo03','Ativo04','Ativo05','Ativo06','Ativo07']]
for i, ativo in enumerate(a):
  b = a[f'Ativo0{i + 1}']
  print(f'Ativo0{i + 1} - Mínimo: {b[b>0].min()}')
print('-'*64)

# Mostre a média e desvio padrão de cada ativo
for i, ativo in enumerate(a):
  b = a[f'Ativo0{i + 1}']
  print(f'Ativo0{i + 1} - Média: {b[b>0].mean():.2f} - Desvio padrão: {b[b>0].std():.2f}')
print('-'*64)

# Qual a idade do investidor mais velho?
print(f'Investidor mais velho: {df["Idade"].max()} anos')
print('-'*64)

# Qual a mediana da coluna Média?
print(f'Mediana de Média (desconsiderando sem notas): {df["Media"][df["Media"] != 0].median():2f}')
print('-'*64)

Ativo01 - Soma: 28294822.33
Ativo02 - Soma: 145177955.03
Ativo03 - Soma: 88445487.87
Ativo04 - Soma: 352405330.25
Ativo05 - Soma: 148420239.28
Ativo06 - Soma: 38635584.31
Ativo07 - Soma: 16729721.13
----------------------------------------------------------------
Ativo01 - Mínimo: 800.01
Ativo02 - Mínimo: 4500.05
Ativo03 - Mínimo: 2500.12
Ativo04 - Mínimo: 5000.81
Ativo05 - Mínimo: 4000.14
Ativo06 - Mínimo: 2000.04
Ativo07 - Mínimo: 463.0
----------------------------------------------------------------
Ativo01 - Média: 1129.35 - Desvio padrão: 219.19
Ativo02 - Média: 5147.06 - Desvio padrão: 398.45
Ativo03 - Média: 3140.71 - Desvio padrão: 396.01
Ativo04 - Média: 15157.22 - Desvio padrão: 6971.88
Ativo05 - Média: 5284.49 - Desvio padrão: 795.52
Ativo06 - Média: 2320.04 - Desvio padrão: 240.62
Ativo07 - Média: 500.05 - Desvio padrão: 10.00
----------------------------------------------------------------
Investidor mais velho: 51 anos
----------------------------------------------------------------
Mediana de Média (desconsiderando sem notas): 46.000000
----------------------------------------------------------------

## 9 - Responder as perguntas abaixo

- Quantos investidores são promotores?
- Quantos investidores são do sexo feminino?
- Quantos investidores investiram mais de 16000 no Ativo04?
- Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
- Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?

- Quantos investidores tem em cada estado (dica: use groupby)
- Qual é a soma do total investido por cada estado?
- Como os investidores se distribuem em promotores, detratores e neutros?
- Qual é a média do total investido por promotores, detratores e neutros?

In [166]:
# Quantos investidores são promotores?
res = df['NPS'][df['NPS'] == 'Promotor'].count()
print(f'Quantidade de promotores: {res}')
print('-'*64)

# Quantos investidores são do sexo feminino?
res = df['Sexo'][df['Sexo'] == 'Feminino'].count()
print(f'Quantidade de investidoras femininas: {res}')
print('-'*64)

# Quantos investidores investiram mais de 16000 no Ativo04?
res = df['Nome'][df['Ativo04'] > 16000].count()
print(f'Quantidade de investidores com mais de 16000 no Ativo04: {res}')
print('-'*64)

# Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
res = df['Nome'][(df['Ativo04'] > 16000) & (df['Ativo05'] < 5000)].count()
print(f'Quantidade de investidores com mais de 16000 no Ativo04 e menos de 5000 no Ativo05: {res}')
print('-'*64)

# Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?
res = df['Nome'][(df['Sexo'] == 'Feminino') & (df['Idade'] > 25) & (df['Total'] < 10000)].count()
print(f'Quantidade de investidoras com menos de 25 anos e total investido menor que 10000: {res}')
print('Esses clientes são jovens e ainda não tem um volume de investimento alto, logo tem potencial de crescimento expressivo. Por serem do sexo feminino, podemos atingí-las com ações de mkt voltadas a esse público')
print('-'*64)

# Quantos investidores tem em cada estado (dica: use groupby) 
print(df[['Nome', 'Estado']].groupby('Estado').count())
print('-'*64)

# Qual é a soma do total investido por cada estado?
print(df[['Total', 'Estado']].groupby('Estado').sum())
print('-'*64)

# Como os investidores se distribuem em promotores, detratores e neutros?
print(df[['Nome', 'NPS']].groupby('NPS').count())
print('-'*64)


# Qual é a média do total investido por promotores, detratores e neutros?
print(df[['Total', 'NPS']].groupby('NPS').mean())
print('-'*64)

Quantidade de promotores: 2337
----------------------------------------------------------------
Quantidade de investidoras femininas: 19385
----------------------------------------------------------------
Quantidade de investidores com mais de 16000 no Ativo04: 9241
----------------------------------------------------------------
Quantidade de investidores com mais de 16000 no Ativo04 e menos de 5000 no Ativo05: 4641
----------------------------------------------------------------
Quantidade de investidoras com menos de 25 anos e total investido menor que 10000: 1816
Esses clientes são jovens e ainda não tem um volume de investimento alto, logo tem potencial de crescimento expressivo. Por serem do sexo feminino, podemos atingí-las com ações de mkt voltadas a esse público
----------------------------------------------------------------
        Nome
Estado
AC      1435
AL      1376
AM      1495
AP      1438
BA      1484
CE      1465
DF      1470
ES      1472
GO      1394
MA      1454
MG      1407
MS      1436
MT      1390
PA      1421
PB      1405
PE      1477
PI      1503
PR      1371
RJ      1466
RN      1472
RO      1440
RR      1495
RS      1393
SC      1430
SE      1319
SP      1464
TO      1382
----------------------------------------------------------------
              Total
Estado
AC      30230588.58
AL      28806573.93
AM      30916082.95
AP      29387561.17
BA      30753276.22
CE      30010754.50
DF      30691696.49
ES      30411367.41
GO      29160898.45
MA      29736952.57
MG      28871261.41
MS      29822746.21
MT      28842343.31
PA      28826442.51
PB      28690175.07
PE      29887893.44
PI      31657054.90
PR      27524423.72
RJ      30688691.65
RN      30347511.25
RO      29174928.81
RR      31000078.97
RS      29403545.90
SC      29527400.60
SE      27819402.33
SP      30646765.59
TO      28543001.13
----------------------------------------------------------------
           Nome
NPS
Detrator  24221
Neutro    12196
Promotor   2337
----------------------------------------------------------------
                 Total
NPS
Detrator  18671.218490
Neutro    24029.805453
Promotor  23995.005866
----------------------------------------------------------------